@model CreateRoleViewModel
@{
    ViewData["Title"] = "AccessLevelRole";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3 style="margin-bottom:20px;text-align:right;direction:rtl">سطح دسترسی نقش @Model.RoleName</h3>

<div class="row gutters" style="font-size:16px;">
    @if (ViewBag.UnValid != null)
    {
        <div asp-validation-summary="All"
             class="alert alert-danger" style="direction:rtl;text-align:right;"></div>
    }

    @if (ViewBag.Success != null)
    {
        <div class="alert alert-success col-12"
             style="direction:rtl;text-align:right;">
            <p>
                عملیات با موفقیت انجام شد
            </p>
        </div>
    }


    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="table-container">
            <div class="table-responsive">
                <form class="col-12" asp-action="AccessLevelRole" asp-controller="RoleManager" method="post" asp-antiforgery="true">

                    <input asp-for="RoleName" value="@Model.RoleName" hidden />

                    <table class="table custom-table m-0" style="direction:rtl;text-align:right;">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th>نام وظیفه</th>
                                <th> تخصیص یا عدم تخصیص وظیفه به نقش</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{ int counter = 1;}
                            @for (int i = 0; i < Model.PermissionOut.Count; i++)
                            {
                                <tr>
                                    <th scope="row">@(counter)</th>
                                    <td>@Model.PermissionOut[i].Text</td>
                                    <td>
                                        <input type="checkbox" asp-for="PermissionOut[i].Selected" />
                                        <input type="hidden" asp-for="PermissionOut[i].Value" hidden />
                                        <input type="hidden" asp-for="PermissionOut[i].Text" hidden />
                                    </td>
                                </tr>


                                counter++;

                            }

                            @for (int i = 0; i < Model.PermissionIn.Count; i++)
                            {
                                <tr>
                                    <th scope="row">@counter</th>
                                    <td>@Model.PermissionIn[i].Text</td>
                                    <td>
                                        <input type="checkbox" asp-for="PermissionIn[i].Selected" />
                                        <input type="hidden" asp-for="PermissionIn[i].Value" hidden />
                                        <input type="hidden" asp-for="PermissionIn[i].Text" hidden />
                                    </td>
                                </tr>

                                counter++;

                            }


                        </tbody>
                    </table>

                    <input type="submit" class="btn btn-success" value="ثبت" style="width:100px;;float:right;margin-top:20px;" />
                </form>

            </div>
        </div>
    </div>








    <div class="col-12">
        <a style="float:left;width:130px;" class="btn btn-primary" asp-action="ShowRoles" asp-controller="RoleManager">بازگشت به صفحه قبل</a>

    </div>
</div>

