@model List<User>
@{
    ViewData["Title"] = "UsersView";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>کاربران سایت</h1>
<div class="row gutters">
    @if (ViewData["DeleteError"] != null && (bool)ViewData["DeleteError"] == true)
    {
        <div class="col-12">
            <div asp-validation-summary="All">

            </div>
        </div>

    }

    @if(ViewData["DeleteSucc"]!=null && (bool)ViewData["DeleteSucc"]==true)
    {
        <div class="alert alert-success">
            حذف با موفقیت انجام شد
        </div>
    }


    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="table-container">
            <div class="table-responsive">

                <table class="table custom-table m-0" style="direction:rtl;font-size:16px;">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">نام کاربری</th>
                            <th scope="col">حذف کاربر</th>
                            <th scope="col">تغییرات در کاربر</th>
                            <th scope="col">اعمال سطح دسترسی به کاربر</th>

                        </tr>
                    </thead>
                    @{
                        int counter = 1;
                    }
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@counter</th>
                                <td>@item.UserName</td>
                                <td>
                                    <form asp-action="DeleteUser" asp-controller="UserManager" asp-antiforgery="true"
                                          asp-route-id="@item.Id"
                                          method="post">
                                        <input type="submit" class="btn btn-danger"
                                               value="حذف کاربر" />


                                    </form>

                                </td>
                                <td>

                                    <form asp-action="UpdateUser" asp-controller="UserManager"
                                          asp-route-id="@item.Id"
                                          method="get">
                                        <input type="submit" class="btn btn-info"
                                               value=" تغییر در اطلاعات کاربر" />


                                    </form>

                                </td>

                                <td>
                                    <form asp-action="AccessLevelUser" asp-controller="UserManager"
                                          asp-route-id="@item.Id"
                                          method="get">
                                        <input type="submit" class="btn btn-warning"
                                               value="  تغییر سطح دسترسی کاربر" />


                                    </form>

                                </td>
                            </tr>

                            counter++;
                        }
                    </tbody>
                </table>


            </div>

        </div>
        
    </div>



</div>

